/* --------------------------------------------------------------------
** inbox.css -- CSS to layout Inbox pages.
**
** Created 01/04/16 SS
** --------------------------------------------------------------------
*/


.inbox_submit {margin-top: 20px;}

#inbox_team_name_block {margin-bottom: 0px; position: relative; top: -30px; left: 400px;}
#inbox_team_name_label {float: left; color: #444444; font-size: 14pt;}
#inbox_team_name_value {float: left; color: black; font-size: 16pt; margin-left: 10px;}


.inbox_submit_head_1 {text-align: left; width: 100px; text-decoration: underline;}
.inbox_submit_head_2 {text-align: left; width: 300px; text-decoration: underline;}
.inbox_submit_head_3 {text-align: left; width: 150px; text-decoration: underline;}
.inbox_submit_head_4 {text-align: left; width: 50px; text-decoration: underline;}
.inbox_submit_head_5 {text-align: left; width: 50px; text-decoration: underline;}
.inbox_submit_head_6 {text-align: left; width: 50px; text-decoration: underline;}
.inbox_submit_head_7 {text-align: left; width: 50px; text-decoration: underline;}
.inbox_submit_head_8 {text-align: left; width: 50px; text-decoration: underline;}


.inbox_submit_col_1 {text-align: left; font-weight: normal;}
.inbox_submit_col_1 a {text-decoration: none; font-size: 12pt; }
.inbox_submit_col_1 a:hover {text-decoration: underline; }
.inbox_submit_col_1 a:visited {color: blue;}
.inbox_submit_col_2 {text-align: left; font-weight: normal;}
.inbox_submit_col_3 {text-align: left; font-weight: normal;}
.inbox_submit_col_4 {text-align: left; font-weight: normal;}
.inbox_submit_col_5 {text-align: left; font-weight: normal;}
.inbox_submit_col_6 {text-align: left; font-weight: normal;}
.inbox_submit_col_7 {text-align: left; font-weight: normal;}
.inbox_submit_col_8 {text-align: left; font-weight: normal;}

