/* --------------------------------------------------------------------
** inbox.css -- CSS to layout Inbox pages.
**
** Created 01/04/16 SS
** --------------------------------------------------------------------
*/


.inbox_submit {margin-top: 20px;}


.inbox_submit_head_1 {text-align: left; width: 100px; text-decoration: underline;}
.inbox_submit_head_2 {text-align: left; width: 300px; text-decoration: underline;}
.inbox_submit_head_3 {text-align: left; width: 150px; text-decoration: underline;}
.inbox_submit_head_4 {text-align: left; width: 50px; text-decoration: underline;}
.inbox_submit_head_5 {text-align: left; width: 50px; text-decoration: underline;}
.inbox_submit_head_6 {text-align: left; width: 50px; text-decoration: underline;}
.inbox_submit_head_7 {text-align: left; width: 50px; text-decoration: underline;}
.inbox_submit_head_8 {text-align: left; width: 50px; text-decoration: underline;}


.inbox_submit_col_1 {text-align: left; font-weight: normal;}
.inbox_submit_col_1 a {text-decoration: none; font-size: 12pt; }
.inbox_submit_col_1 a:hover {color: black;}
.inbox_submit_col_2 {text-align: left; font-weight: normal;}
.inbox_submit_col_3 {text-align: left; font-weight: normal;}
.inbox_submit_col_4 {text-align: left; font-weight: normal;}
.inbox_submit_col_5 {text-align: left; font-weight: normal;}
.inbox_submit_col_6 {text-align: left; font-weight: normal;}
.inbox_submit_col_7 {text-align: left; font-weight: normal;}
.inbox_submit_col_8 {text-align: left; font-weight: normal;}

