/* --------------------------------------------------------------------
** team_ipt.css -- CSS to layout the team view listings.
**
** Created 01/04/16 DLB
** --------------------------------------------------------------------
*/

#teamname_block {margin-top: 15px; margin-left: 10px;}
#teamname_label {float: left; margin-left: 8px; color: #444444; font-size: 16pt;}
#teamname_value {float: left; font-size: 18pt; margin-left: 10px;}

#searchtype_block {clear: both; margin-top: 20px; margin-left: 10px;}
#searchtype_label {float: left; width: 60px; margin-left: 10px; color: #444444; font-size: 12pt;}
#searchtype_value {float: left; font-size: 16pt;}

#none {margin-left: 10px; margin-top: 40px; font-size: 20pt;}

.team_ipt {margin-left: 15px; margin-top: 30px; font-size: 12pt;}
.team_ipt a {text-decoration: none; color: blue; font-size: 12pt;}
.team_ipt a:link {color: blue;}
.team_ipt a:hover {text-decoration: underline; }
.team_ipt a:visited {color: blue;}

.team_ipt_head_1 {text-align: left; width:  80px; text-decoration: underline;}
.team_ipt_head_2 {text-align: left; width: 200px; text-decoration: underline;}
.team_ipt_head_3 {text-align: left; width:  70px; text-decoration: underline;}
.team_ipt_head_4 {text-align: left; width:  100px; text-decoration: underline;}
.team_ipt_head_5 {text-align: center; width: 50px; text-decoration: underline;}
.team_ipt_head_6 {text-align: center; width: 50px; text-decoration: underline;}
.team_ipt_head_7 {text-align: center; width: 50px; text-decoration: underline;}
.team_ipt_head_8 {text-align: center; width: 50px; text-decoration: underline;}

.team_ipt_col_1 {text-align: left; font-weight: normal;}
.team_ipt_col_2 {text-align: left; font-weight: normal;}
.team_ipt_col_3 {text-align: left; font-weight: normal;}
.team_ipt_col_4 {text-align: left; font-weight: normal;}
.team_ipt_col_5 {text-align: center; font-weight: normal;}
.team_ipt_col_6 {text-align: center; font-weight: normal;}
.team_ipt_col_7 {text-align: center; font-weight: normal;}
.team_ipt_col_8 {text-align: center; font-weight: normal;}
