/* --------------------------------------------------------------------
** wo_add_data.css -- For WO Add Data...
**
** Created 01/03/16 DLB
** --------------------------------------------------------------------
*/

.inputform_area { width: 600px;}

#wo_add_data_PicFile_block {}
#wo_add_data_PicFile_label {}
#wo_add_data_PicFile_field {}

#wo_add_data_MainPic_block {clear: both; width: 340px;}
#wo_add_data_MainPic_label {}
#wo_add_data_MainPic_field {}

#wo_add_data_IncRevision_block {clear: both; width: 340px;}
#wo_add_data_IncRevision_label {}
#wo_add_data_IncRevision_field {}

#wo_add_data_TextInfo_block {}
#wo_add_data_TextInfo_label {}
#wo_add_data_TextInfo_field {font-size: 16px;  font-family: monospace;}
